header {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22px;
    padding: 0px;
    margin:0px;
}

div.index_main {
    background-color: rgb(219, 218, 218);
    padding: 90px;
    margin: 90
}

div.new_releases {
    text-align: center;
        font-family: 'Montserrat';
        font-size: 22px;
        padding: 0px;
        margin: 0px;
}

div.movies_main {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}


        /*Робимо так, шоб ссилки завжди буди чорного кольору,
        та без підкреслення*/ 
        a.main_link:visited {
            color: rgb(0, 0, 0);
        }

        a.about_link:visited {
            color: rgb(0, 0, 0);
        }

        a.my_tickets_link:visited {
            color: rgb(0, 0, 0);
        }

        a.contacts_link:visited {
            color: rgb(0, 0, 0);
        }

        a.movies_link:visited {
            color: rgb(0, 0, 0);
        }

        a.main_link:hover,
        a.main_link:visited,
        a.main_link:link,
        a.main_link:active {
            text-decoration: none;
        }

        a.about_link:hover,
        a.about_link:visited,
        a.about_link:link,
        a.about_link:active {
            text-decoration: none;
        }

        a.contacts_link:hover,
        a.contacts_link:visited,
        a.contacts_link:link,
        a.contacts_link:active {
            text-decoration: none;
        }

        a.my_tickets_link:hover,
        a.my_tickets_link:visited,
        a.my_tickets_link:link,
        a:active {
            text-decoration: none;
        }

        a.movies_link:hover,
        a.movies_link:visited,
        a.movies_link:link,
        a.movies_link:active {
            text-decoration: none;
        }

/* Style for Main Movies and their dates*/
div.main_movies_name {
color: #f2f2f2;
    font-family: 'Montserrat';
    font-size: 22px;
    padding: 8px 12px;
    position: absolute;
    bottom: 160px;
    width: 100%;
    text-align: center;
}

div.main_movies_date {
    color: #f2f2f2;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    bottom: 120px;
    width: 100%;
    text-align: center;
}