header, body, footer{
    padding: 0;
    margin: 0;
}

header {
  padding: 0;
  margin: 0;
  font-family: Montserrat, serif;
  font-size: 22px;
  text-align: center;
  background-color: #ffa500;
}




div.index-main {
  padding: 90px;
  margin: 90;
  background-color: rgb(219 218 218);
}

div.new-releases {
  padding: 0;
  margin: 0;
  font-family: Montserrat, serif;
  font-size: 22px;
  text-align: center;
}

div.movies-main {
  padding: 0;
  margin: 0;
  font-family: Montserrat, serif;
  font-size: 22px;
  text-align: center;
}

/* Робимо так, шоб ссилки завжди буди чорного кольору,
        та без підкреслення */
a.main-link:visited {
  color: rgb(0 0 0);
}

a.about-link:visited {
  color: rgb(0 0 0);
}

a.my-tickets-link:visited {
  color: rgb(0 0 0);
}

a.contacts-link:visited {
  color: rgb(0 0 0);
}

a.movies-link:visited {
  color: rgb(0 0 0);
}

a.main-link:hover,
a.main-link:visited,
a.main-link:link,
a.main-link:active {
  text-decoration: none;
}

a.about-link:hover,
a.about-link:visited,
a.about-link:link,
a.about-link:active {
  text-decoration: none;
}

a.contacts-link:hover,
a.contacts-link:visited,
a.contacts-link:link,
a.contacts-link:active {
  text-decoration: none;
}

a.my-tickets-link:hover,
a.my-tickets-link:visited,
a.my-tickets-link:link,
a:active {
  text-decoration: none;
}

a.movies-link:hover,
a.movies-link:visited,
a.movies-link:link,
a.movies-link:active {
  text-decoration: none;
}
        a.movies_link:hover,
        a.movies_link:visited,
        a.movies_link:link,
        a.movies_link:active {
            text-decoration: none;
        }


/* Burger button style*/
a.burger_button {
        right: 0;
        color: black;

}
/* Style for Main Movies and their dates*/
div.main_movies_name_date {
color: #f2f2f2;
    font-family: 'Montserrat';
    font-size: 22px;
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    background-color: black;
    opacity: 0.5;
    
}



/* Making inline movie schedule*/
div.schedule_poster {
    width: 100%;
    position: relative;
        height: 250px;
        white-space: nowrap;
        overflow-x: auto;
        padding: 10px;
        align-self:stretch;
    

}
div.schedule_title {
    position: absolute;
        bottom: 10px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        opacity: 0;
}

/*З'являється назва фільму, при наводженні мишкою*/
div.schedule_title:hover {
    opacity: 0.6;
    width: 120px;
    height: 100px;
}

/*Making uselectable text*/
div.schedule_title {
-webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

div.movie-schedule {
  display: inline-block;
}

/* making line */
div.column {
  padding: 0em;
  vertical-align: middle;
  border-bottom: 2px solid #ffa94d;
}

/* Making schedule list */
ul.movie-schedule {
  list-style-type: none;
}

li {
  margin: 10px;
}

/* Button design */
button.button {
  position: sticky;
  left: 1000px;
  box-sizing: border-box;
  max-width: 100px;
  height: 60px;
  max-height: 60px;
  margin: 20px 60px 0;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  font-size: 100%;
  line-height: 1.15;
  color: #fff;
  cursor: pointer;
  background-color: #405cf5;
  border-width: 0;
  border-radius: 6px;
  outline: none;
  box-shadow: rgb(50 50 93 / 10%) 0 0 0 1px inset,
    rgb(50 50 93 / 10%) 0 2px 5px 0, rgb(0 0 0 / 7%) 0 1px 1px 0;
  appearance: button;
  backface-visibility: hidden;
}

div.row {
  max-width: 80%;
  margin-left: 150px;
}



/*Hiding burger button */
a.i {
    display:none;

}


/*design for iPad*/
@media screen and (max-width: 834px) {
    div.row {
        margin-left: 0px;
        max-width: 100%
    }
}

@media screen and (max-width: 700px) {

/* Making burger menu */
    /* Burger button style*/
    a.burger_button {
        right: 0;
        color: black;

    }

    a.i {
        
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .header_links #hidden_links {
        display: none;
    }

    /* Style the navigation menu */
    .header_links {
        overflow: hidden;
    }

    .header_links.a {
        display: block
    }



    ul.movie_schedule {
            display: none;
        }
    .column {
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);
    }
    div.schedule_poster {
        height: 250px;
        white-space: nowrap;
        overflow-x: auto;
        padding: 58px;
        padding: 1px;
        align-self: stretch;
        }
}

/* Footer design */
footer {
  display: grid;
  padding: 2em 3em;
  font-size: 14px;
  background-color: rgb(70 60 60);
  grid-template-areas:
    'logo links'
    'copyright copyright';
}

footer div {
  color: #faebd7;
}

footer p {
  font-size: 14px;
}

footer a {
  color: #faebd7;
  text-decoration: none;
}

footer ul {
  list-style-type: none;
}

.footer-logo {
  grid-area: logo;
  font-size: 1.5em;
  font-weight: 700;
}

.footer-links {
  grid-area: links;
  padding: 1em 1em 0 0;
}

.footer-links ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
}

.footer-links li {
  display: inline-block;
  flex: 1;
}

.footer-copyright {
  padding: 1em 1em 0 0;
  margin-top: 1em;
  text-align: right;
  border-top: 1px solid #a9a9a9;
  grid-area: copyright;
}

.footer-links > ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: center;
}
